openapi: 3.1.0
info:
  title: Kushol Connect API
  version: 0.1.0
  description: |
    Single source of truth for API types (FND-BR-001). Go server types are generated with
    oapi-codegen and the TS client with openapi-typescript (`make contracts`). Never hand-edit
    generated code.

    Errors are RFC-7807 `application/problem+json` (`Problem`). `code` is an **open set**:
    clients must fall back to generic bn/en copy for codes they do not know.
servers:
  - url: https://api.kusholconnect.com
    description: Production (mobile clients)
  - url: http://localhost:5433
    description: Local development
tags:
  - name: health
    description: Liveness and readiness (consumed by 15-deployment-operations)
  - name: auth
    description: Registration, login (OTP / password / SSO), tokens and sessions (03-identity-access)
  - name: users
    description: The authenticated user's own account (03-identity-access)
  - name: verification
    description: Join-request queue and school roster (03-identity-access; queue UI built by 07)
  - name: hierarchy
    description: Master-data reads for registration pickers (owned by 04; served by 03's fake until 04 lands)
  - name: school-requests
    description: New school/college requests from registration (03 until 04 absorbs onboarding)
  - name: chat
    description: >
      Group chat (official/custom/dm), DMs and Message Requests (05-communication-engine).
      Realtime lives on GET /api/v1/ws (gorilla upgrade); REST here is lists, fallback send and
      membership/admin actions. Auth chain + verified gate on every route.
  - name: notices
    description: >
      One-way notice boards, school and section scope (05-communication-engine). Read for all
      verified tenant members; publish per the role→scope matrix (School Admin = school,
      Teacher = own section). Immutable after publish except pin + soft delete.
  - name: media
    description: >
      Cloudflare R2 media service (05-communication-engine; reused by 08/11/12): presigned PUT
      (15-min TTL), server-side magic-byte confirm, short-lived download URLs, 90-day archival.
      The api never proxies object bytes.
paths:
  /healthz:
    get:
      operationId: getHealthz
      tags: [health]
      summary: Liveness — never touches dependencies
      responses:
        '200':
          description: Process is alive
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        default:
          $ref: '#/components/responses/Problem'
  /readyz:
    get:
      operationId: getReadyz
      tags: [health]
      summary: Readiness — Postgres (Neon) ping and Redis PING, 1 s timeout each
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: All dependencies reachable
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Readiness'
        '503':
          description: One or more dependencies unreachable; `dependencies` names them
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/register:
    post:
      operationId: postAuthRegister
      tags: [auth]
      summary: Complete registration — user + identity + verification request in one transaction
      description: |
        Public, rate-limit class `auth` (10/hour/IP). Requires a previously verified OTP
        (purpose `register`). Hierarchy placement is re-validated server-side against 04 reads.
        Tokens are returned only when the phone OTP completed inside the same flow.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
      responses:
        '201':
          description: Account created `PENDING` with an open verification request
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/otp/request:
    post:
      operationId: postAuthOtpRequest
      tags: [auth]
      summary: Issue a 6-digit OTP by SMS or email (passwordless login, owner decision 2026-10-02)
      description: |
        Public; class `auth`. Answers 202 identically whether or not the phone/email is
        registered (no enumeration). Caps: 60 s resend cooldown, 5/hour per target,
        200/hour/IP (CGNAT-tolerant), enforced again on resend.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequestInput'
      responses:
        '202':
          description: OTP queued for delivery
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpSendResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/otp/resend:
    post:
      operationId: postAuthOtpResend
      tags: [auth]
      summary: Resend a fresh OTP for the same target and purpose
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequestInput'
      responses:
        '202':
          description: OTP queued (identical body to request)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpSendResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/otp/verify:
    post:
      operationId: postAuthOtpVerify
      tags: [auth]
      summary: Verify an OTP — login (tokens), or mark verified for register/link
      description: |
        Public; class `auth` (10 verifies/hour per target, 3 attempts per code). Purpose
        `login` returns tokens (an unknown target answers `{status:"unknown_phone"}` or
        `{status:"unknown_email"}` and the client continues to registration); purposes
        `register`/`link` return `{status:"verified"}` so the follow-up call can prove
        possession. Login is passwordless (owner decision 2026-10-02): both phone and email
        targets authenticate.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpVerifyInput'
      responses:
        '200':
          description: Verification outcome
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpVerifyResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/password/forgot:
    post:
      operationId: postAuthPasswordForgot
      tags: [auth]
      summary: Request a password-reset code by email
      description: Public; class `auth` (5/hour/email, 100/hour/IP). Always 202.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordInput'
      responses:
        '202':
          description: Accepted — a code is sent when the email belongs to a staff/vendor account
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/password/reset:
    post:
      operationId: postAuthPasswordReset
      tags: [auth]
      summary: Reset a staff/vendor password with the emailed code
      description: |
        Public; class `auth`. On success every session and refresh family of the user is
        revoked. Also serves as the vendor first-password set after 07 approval.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordInput'
      responses:
        '204':
          description: Password updated; all sessions revoked
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/refresh:
    post:
      operationId: postAuthRefresh
      tags: [auth]
      summary: Rotate a mobile refresh token (single-use, reuse-detecting)
      description: |
        Public (token in body); class `auth`. The presented token is revoked (`rotated`) and a
        new one is issued in the same family; claims are re-read from the database. Presenting
        a revoked token revokes the whole family and is audited (`auth.refresh_reuse`).
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshInput'
      responses:
        '200':
          description: Fresh token pair
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/logout:
    post:
      operationId: postAuthLogout
      tags: [auth]
      summary: Log out the current device (session or refresh family)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutInput'
      responses:
        '204':
          description: Current session/refresh family revoked
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/logout-all:
    post:
      operationId: postAuthLogoutAll
      tags: [auth]
      summary: Log out everywhere — every session and refresh family
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: All sessions and refresh families revoked (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/google/start:
    get:
      operationId: getAuthGoogleStart
      tags: [auth]
      summary: Begin the Google OIDC round-trip (signed state + PKCE)
      description: |
        Public; class `auth` (20/hour/IP per provider). `intent=link` requires an
        authenticated user. Redirects to Google; the callback redirects to the calling
        surface (`/auth/sso/return` on web, deep link on the app) with a one-time result code.
      parameters:
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [login, link]
      responses:
        '302':
          description: Redirect to the provider
          headers:
            Location:
              description: Provider authorization endpoint
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/google/callback:
    get:
      operationId: getAuthGoogleCallback
      tags: [auth]
      summary: Google OIDC callback — link or create, then redirect with a result code
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
        - name: error
          in: query
          required: false
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the calling surface with `sso_result` (or `sso_error`)
          headers:
            Location:
              description: Calling surface URL carrying the one-time result or error
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/github/start:
    get:
      operationId: getAuthGithubStart
      tags: [auth]
      summary: Begin the GitHub OIDC round-trip (signed state + PKCE)
      parameters:
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [login, link]
      responses:
        '302':
          description: Redirect to the provider
          headers:
            Location:
              description: Provider authorization endpoint
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/github/callback:
    get:
      operationId: getAuthGithubCallback
      tags: [auth]
      summary: GitHub OIDC callback — link or create, then redirect with a result code
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
        - name: error
          in: query
          required: false
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the calling surface with `sso_result` (or `sso_error`)
          headers:
            Location:
              description: Calling surface URL carrying the one-time result or error
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me:
    get:
      operationId: getMe
      tags: [users]
      summary: The authenticated user's own account
      description: Authenticate (either scheme); class `auth` relaxed (60/min/user).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Current user
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResult'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchMe
      tags: [users]
      summary: Update own display name and/or locale
      description: Role and status are immutable here (FORBIDDEN on attempt).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeUpdateInput'
      responses:
        '200':
          description: Updated user
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/verification-requests:
    get:
      operationId: listVerificationRequests
      tags: [verification]
      summary: The school's join-request queue
      description: |
        school_admin sees own school (all roles); student+`is_ambassador` sees same-school
        student/guardian requests only; super_admin sees everything. Tenant-scoped server-side.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationRequestStatus'
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Queue page
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequestPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/verification-requests/{id}/approve:
    post:
      operationId: approveVerificationRequest
      tags: [verification]
      summary: Approve a join request → user VERIFIED + provisioning enqueued
      description: |
        Guardian requests carry `{studentUserId}` — the same-school VERIFIED student the
        evidence matched; a `guardian_links` row is written in the same transaction.
        Already-decided requests answer CONFLICT. Audited `verification.approved`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveInput'
      responses:
        '200':
          description: Approved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/verification-requests/{id}/reject:
    post:
      operationId: rejectVerificationRequest
      tags: [verification]
      summary: Reject a join request with a mandatory reason
      description: school_admin/super_admin only (ambassadors are approve-only). Audited `verification.rejected`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectInput'
      responses:
        '200':
          description: Rejected (reason stored; user notified via 06)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/users:
    get:
      operationId: listSchoolUsers
      tags: [verification]
      summary: The school's user roster
      description: school_admin (own school from claim); super_admin may pass `?schoolId=`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: schoolId
          in: query
          required: false
          schema:
            type: string
          description: Super Admin only — selects the school (tenant check still applies)
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserStatus'
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 80
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Roster page (names, roles, statuses, masked phones only)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolUserPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/hierarchy/cities:
    get:
      operationId: listHierarchyCities
      tags: [hierarchy]
      summary: Launch cities for the registration picker
      description: Public; master data owned by 04 (served from 03's in-memory fake until 04 lands).
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: City list (launch cities first)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchyCityPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/hierarchy/cities/{cityId}/schools:
    get:
      operationId: listHierarchySchools
      tags: [hierarchy]
      summary: Schools/colleges in a city
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: cityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: School list
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchySchoolPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/hierarchy/schools/{schoolId}/sections:
    get:
      operationId: listHierarchySections
      tags: [hierarchy]
      summary: Sections of a school (class level is a section attribute)
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: schoolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Section list
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchySectionPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school-requests:
    post:
      operationId: createSchoolRequest
      tags: [school-requests]
      summary: Request onboarding for a school/college not yet listed
      description: |
        Public; class `auth`. Submitted from registration when the school dropdown has no
        match. Carries the institution details plus the point of contact — the application
        admin connects with the POC to onboard the institution. Audited `school.requested`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchoolRequestInput'
      responses:
        '202':
          description: Request queued for admin review
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestCreated'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/school-requests:
    get:
      operationId: listSchoolRequests
      tags: [school-requests]
      summary: Review queue for institution requests (Super Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SchoolRequestStatus'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Request queue page
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/school-requests/{id}/approve:
    post:
      operationId: approveSchoolRequest
      tags: [school-requests]
      summary: Approve an institution request — POC is contacted for onboarding
      description: Super Admin only. Audited `school.request_approved`; the institution itself is created by 04's onboarding.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Approved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/school-requests/{id}/reject:
    post:
      operationId: rejectSchoolRequest
      tags: [school-requests]
      summary: Reject an institution request with a reason
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchoolRequestRejectInput'
      responses:
        '200':
          description: Rejected
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/ws:
    get:
      operationId: getWs
      tags: [chat]
      summary: WebSocket gateway (gorilla upgrade — documented contract, not a REST route)
      description: |
        JWT in the `Authorization` header at upgrade; unauthenticated → HTTP 401, unverified →
        close 4401 (`NOT_VERIFIED`). The server resolves the subscribable room set from
        hierarchy + memberships — client `subscribe` requests are intersected with that set and
        non-member rooms are ignored + logged. Heartbeat ping ≤ 30 s (2 missed → close);
        presence keys TTL 60 s.
        x-ws-events (client→server): subscribe {rooms[]} · unsubscribe {rooms[]} ·
        message.send {clientMsgId, groupId, kind, body?, mediaAssetId?, replyTo?} ·
        message.read {groupId, lastReadMessageId} · typing {groupId, state start|stop} · ping.
        x-ws-events (server→client): message.new (full ChatMessage) · message.ack
        {clientMsgId, id, createdAt} · message.read {groupId, userId, lastReadMessageId} ·
        message.deleted {groupId, id, deletedAt} · presence.update {groupId, userId, online} ·
        typing {groupId, userId, state} · notice.new (Notice summary) · error (RFC-7807-shaped
        {type, title, status}). Reconnect: backoff 1 s → 30 s cap with jitter → re-auth →
        re-subscribe → REST catch-up from the latest local cursor → offline queue replay
        (dedupe by clientMsgId).
      responses:
        '101':
          description: Upgrade accepted (socket handed to the gateway hub)
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups:
    get:
      operationId: listChatGroups
      tags: [chat]
      summary: My groups (official/custom/dm) with unread counts
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Groups the caller belongs to, last activity first
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroupPage'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createChatGroup
      tags: [chat]
      summary: Request a custom club group (pending School Admin approval)
      description: Verified users only; the group lands as `pending_approval` and its creator
        becomes `owner` on activation (BR-010).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupCreateInput'
      responses:
        '201':
          description: Request stored (pending_approval)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroup'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/messages:
    get:
      operationId: listChatMessages
      tags: [chat]
      summary: Group history, 50/page, cursor `before`
      description: Member guard (`FORBIDDEN` otherwise); tombstones are included and marked so
        renderers can swap them.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Opaque cursor (created_at+id of the oldest already-loaded message)
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Newest page first
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessagePage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/members:
    post:
      operationId: addChatGroupMember
      tags: [chat]
      summary: Add a member (owner/moderator/School Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupMemberInput'
      responses:
        '201':
          description: Member added
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroupMember'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/members/{userId}:
    delete:
      operationId: removeChatGroupMember
      tags: [chat]
      summary: Remove a member (moderator+)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Removed (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMemberMutationResult'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateChatGroupMemberRole
      tags: [chat]
      summary: Change a member's role (moderator+/School Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupRoleInput'
      responses:
        '200':
          description: Role changed (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroupMember'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/read:
    patch:
      operationId: markChatRead
      tags: [chat]
      summary: Set the caller's last_read_message_id (drives seen counts)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatReadInput'
      responses:
        '200':
          description: Read pointer stored; WS `message.read` fans out
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatReadResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/dm/{peerId}:
    get:
      operationId: openDm
      tags: [chat]
      summary: Open or create a DM room
      description: Same-school verified peer → instant room (`dm:{minUserId}:{maxUserId}`).
        Cross-school peer without an accepted request → 404 with the request hint.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: peerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The (idempotent) DM room
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroup'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/message-requests:
    get:
      operationId: listMessageRequests
      tags: [chat]
      summary: My Message Request inbox (received) and sent list
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Row-level authorized (from/to only)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequestPage'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createMessageRequest
      tags: [chat]
      summary: Request an out-of-network DM (anti-spam rate limit)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequestInput'
      responses:
        '201':
          description: Request pending; no room exists yet
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequest'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/message-requests/{id}/accept:
    post:
      operationId: acceptMessageRequest
      tags: [chat]
      summary: Accept a pending request (recipient only) — creates the DM room
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Accepted; `dmGroupId` carries the room to open
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/message-requests/{id}/decline:
    post:
      operationId: declineMessageRequest
      tags: [chat]
      summary: Decline a pending request (recipient only)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Declined; the sender is politely blocked (BR-004)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/messages:
    post:
      operationId: sendChatMessage
      tags: [chat]
      summary: Send a message (REST fallback + media sync path; same service as WS message.send)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageSendInput'
      responses:
        '201':
          description: The canonical message (replay with the same clientMsgId returns the
            original row — BR-008)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/messages/{messageId}:
    delete:
      operationId: deleteChatMessage
      tags: [chat]
      summary: Tombstone a message (author ≤ 15 min; moderator/owner/School Admin anytime)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Soft-deleted; WS `message.deleted` fans out
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatDeleteResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notices:
    get:
      operationId: listNotices
      tags: [notices]
      summary: The notice board for my school (+ my sections)
      description: Pinned first, then reverse-chronological; section notices limited to the
        caller's sections. Cached 60 s under `notices:school:{id}` / `notices:section:{id}`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NoticeScope'
      responses:
        '200':
          description: The visible board
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticePage'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: publishNotice
      tags: [notices]
      summary: Publish a one-way notice (School Admin = school scope; Teacher = own section)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoticeInput'
      responses:
        '201':
          description: Published; tags busted; `BroadcastTopic` queued for `school-{id}` /
            `section-{id}`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notice'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notices/{noticeId}:
    delete:
      operationId: deleteNotice
      tags: [notices]
      summary: Soft-delete a notice (author or School Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: noticeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Removed from the board (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeDeleteResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notices/{noticeId}/pin:
    patch:
      operationId: toggleNoticePin
      tags: [notices]
      summary: Toggle the pin (author or School Admin; the only edit path — BR-006)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: noticeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The notice with its new pin state
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notice'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/media/upload-url:
    post:
      operationId: createMediaUploadUrl
      tags: [media]
      summary: Presigned R2 PUT for one asset (TTL 15 min)
      description: Kind/size validated against the caps (image 10 MB, PDF 20 MB, voice 5 min);
        the sniff at confirm is authoritative over the declared mime.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaUploadUrlInput'
      responses:
        '201':
          description: Asset created (`pending`) with the presigned PUT
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPresignResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/media/{assetId}/confirm:
    post:
      operationId: confirmMediaUpload
      tags: [media]
      summary: Confirm an upload — magic-byte sniff decides (INV-6)
      description: Owner only; TTL ≤ 15 min; sniffed mime must match the kind allowlist
        (JPEG/PNG/HEIC → image, %PDF → pdf, AAC/m4a → voice). A mismatch is
        `VALIDATION_FAILED` and no message may reference the asset.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: assetId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaConfirmInput'
      responses:
        '200':
          description: Asset confirmed with the sniffed mime
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAsset'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/media/{assetId}/download-url:
    post:
      operationId: createMediaDownloadUrl
      tags: [media]
      summary: Short-lived R2 GET URL for an asset the caller may view
      description: Authorized by ownership or by membership of a group/notice referencing the
        asset; archived assets rehydrate first (the response flags it).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: assetId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Presigned GET (15-min TTL)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaDownloadUrl'
        default:
          $ref: '#/components/responses/Problem'
components:
  headers:
    XRequestId:
      description: Request correlation id (incoming value reused when valid, otherwise a uuid v7)
      schema:
        type: string
        maxLength: 64
  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: '`bn` (default) or `en` — selects the language of `Problem.message`'
      schema:
        type: string
  responses:
    Problem:
      description: Error (RFC-7807)
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    HealthStatus:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok]
    DependencyCheck:
      type: object
      required: [name, ok]
      properties:
        name:
          type: string
          description: Dependency name, e.g. `postgres`, `redis`
        ok:
          type: boolean
        latencyMs:
          type: integer
          minimum: 0
    Readiness:
      type: object
      required: [status, dependencies]
      properties:
        status:
          type: string
          enum: [ready]
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/DependencyCheck'
    FieldError:
      type: object
      required: [field, message]
      properties:
        field:
          type: string
          description: JSON pointer or parameter name of the rejected input
        message:
          type: string
          description: Localized (bn default / en)
    ProblemErrors:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'
    Problem:
      type: object
      description: RFC-7807 problem details with Kushol extensions.
      required: [type, title, status, code, message, requestId]
      properties:
        type:
          type: string
          description: URI reference identifying the problem type
        title:
          type: string
          description: Short English summary (not for display)
        status:
          type: integer
          minimum: 100
          maximum: 599
        code:
          type: string
          description: |
            Stable machine code — open set. Core: UNAUTHENTICATED, FORBIDDEN, VALIDATION_FAILED,
            TENANT_MISMATCH, NOT_FOUND, NOT_VERIFIED, RATE_LIMITED, QUOTA_EXCEEDED, CONFLICT,
            INTERNAL. Module-specific codes are registered in
            docs/modules/01-foundations/technical-document.md §10.
        message:
          type: string
          description: Localized, user-displayable message (bn default, en on request)
        requestId:
          type: string
        detail:
          type: string
        errors:
          $ref: '#/components/schemas/ProblemErrors'
        dependencies:
          type: array
          description: Present on readiness failures — names each dependency and its state
          items:
            $ref: '#/components/schemas/DependencyCheck'
    UserRole:
      type: string
      enum: [super_admin, school_admin, teacher, student, guardian, vendor]
      description: '`vendor` is platform-scoped (`schoolId` null) and never self-registered'
    UserStatus:
      type: string
      enum: [PENDING, VERIFIED, SUSPENDED]
    Locale:
      type: string
      enum: [bn, en]
    Plan:
      type: string
      enum: [free, pro]
    OtpChannel:
      type: string
      enum: [sms, email]
    OtpPurpose:
      type: string
      enum: [login, register, link]
      description: '`reset` OTPs are issued internally by `/auth/password/forgot` only'
    User:
      type: object
      description: Public user shape — phone numbers are always masked
      required: [id, role, status, locale, fullName, isAmbassador, plan]
      properties:
        id:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        status:
          $ref: '#/components/schemas/UserStatus'
        locale:
          $ref: '#/components/schemas/Locale'
        fullName:
          type: string
        maskedPhone:
          type: string
          description: e.g. `+8801XXXXXX789` — present when the account has a phone
        email:
          type: string
          description: present when the account has an email
        schoolId:
          type: string
          nullable: true
        isAmbassador:
          type: boolean
        plan:
          $ref: '#/components/schemas/Plan'
    RegisterInput:
      type: object
      required: [locale, role, fullName, schoolId, sectionId]
      description: |
        `phone`+`otpCode` are required for student/guardian (OTP purpose `register` proven).
        Staff may register with `email`+`password` instead (phone optional). `studentCode`
        and `relation` are required when role is `guardian`. No class field — the class
        level is derived from the section.
      properties:
        locale:
          $ref: '#/components/schemas/Locale'
        role:
          $ref: '#/components/schemas/UserRole'
        fullName:
          type: string
          minLength: 2
          maxLength: 80
        phone:
          type: string
          description: BD mobile, normalized server-side to E.164 `+880…`
        otpCode:
          type: string
          description: The code verified via `/auth/otp/verify` (purpose `register`)
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 10
          maxLength: 128
          description: Staff registration only (argon2id server-side)
        schoolId:
          type: string
        sectionId:
          type: string
        studentCode:
          type: string
          minLength: 3
          maxLength: 20
          description: Guardian only — the child's student ID
        relation:
          type: string
          enum: [father, mother, other]
          description: Guardian only
    RegisterResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [user, verificationRequest]
          properties:
            user:
              $ref: '#/components/schemas/User'
            accessToken:
              type: string
              description: Present only when the phone OTP completed in this flow
            refreshToken:
              type: string
            verificationRequest:
              $ref: '#/components/schemas/VerificationRequestItem'
    OtpRequestInput:
      type: object
      description: Exactly one of `phone` / `email`.
      properties:
        phone:
          type: string
        email:
          type: string
          format: email
        purpose:
          $ref: '#/components/schemas/OtpPurpose'
    OtpSendResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [sentAt, cooldownSeconds, channel]
          properties:
            sentAt:
              type: string
              format: date-time
            cooldownSeconds:
              type: integer
              minimum: 0
            channel:
              $ref: '#/components/schemas/OtpChannel'
    OtpVerifyInput:
      type: object
      required: [otpCode, purpose]
      description: Exactly one of `phone` / `email` (matching the request channel).
      properties:
        phone:
          type: string
        email:
          type: string
          format: email
        otpCode:
          type: string
          minLength: 6
          maxLength: 6
        purpose:
          $ref: '#/components/schemas/OtpPurpose'
    OtpVerifyResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          description: |
            `login` on a known phone/email returns tokens + user; an unknown target answers
            `{status:"unknown_phone"}` or `{status:"unknown_email"}` (deliberate — OTP proves
            possession and registration shares the code path). `register`/`link` return
            `{status:"verified"}`.
          required: [status]
          properties:
            status:
              type: string
              enum: [ok, unknown_phone, unknown_email, verified]
            accessToken:
              type: string
            refreshToken:
              type: string
            user:
              $ref: '#/components/schemas/User'
    ForgotPasswordInput:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
    ResetPasswordInput:
      type: object
      required: [email, otpCode, newPassword]
      properties:
        email:
          type: string
          format: email
        otpCode:
          type: string
          minLength: 6
          maxLength: 6
        newPassword:
          type: string
          minLength: 10
          maxLength: 128
    RefreshInput:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
    RefreshResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [accessToken, refreshToken]
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
    LogoutInput:
      type: object
      description: App clients pass the current refresh token; web relies on the cookie.
      properties:
        refreshToken:
          type: string
    MeResult:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/User'
    MeUpdateInput:
      type: object
      minProperties: 1
      properties:
        locale:
          $ref: '#/components/schemas/Locale'
        fullName:
          type: string
          minLength: 2
          maxLength: 80
        avatarUrl:
          type: string
          format: uri
    VerificationRequestStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, CANCELLED]
    VerificationRequestItem:
      type: object
      required: [id, user, status, createdAt, reminderCount]
      properties:
        id:
          type: string
        user:
          type: object
          required: [fullName, role]
          properties:
            fullName:
              type: string
            role:
              $ref: '#/components/schemas/UserRole'
            phoneMasked:
              type: string
        status:
          $ref: '#/components/schemas/VerificationRequestStatus'
        evidence:
          type: object
          description: '`{studentCode, relation}` for guardians; free-form, proof only'
          additionalProperties: true
        decisionReason:
          type: string
          description: Present on REJECTED — the bn/en key + params are resolved client-side
        createdAt:
          type: string
          format: date-time
        reminderCount:
          type: integer
          minimum: 0
    VerificationRequestPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/VerificationRequestItem'
        nextCursor:
          type: string
    ApproveInput:
      type: object
      description: Guardian requests require `studentUserId` (the matched same-school VERIFIED student).
      properties:
        studentUserId:
          type: string
    RejectInput:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 10
          maxLength: 500
    DecisionResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, status]
          properties:
            id:
              type: string
            status:
              $ref: '#/components/schemas/VerificationRequestStatus'
            userStatus:
              $ref: '#/components/schemas/UserStatus'
    SchoolUser:
      type: object
      required: [id, fullName, role, status, createdAt]
      properties:
        id:
          type: string
        fullName:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        status:
          $ref: '#/components/schemas/UserStatus'
        maskedPhone:
          type: string
        isAmbassador:
          type: boolean
        createdAt:
          type: string
          format: date-time
    HierarchyCity:
      type: object
      required: [id, nameBn, nameEn, isLaunchCity]
      properties:
        id:
          type: string
        nameBn:
          type: string
        nameEn:
          type: string
        isLaunchCity:
          type: boolean
    HierarchyCityPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HierarchyCity'
    HierarchySchool:
      type: object
      required: [id, nameBn, nameEn]
      properties:
        id:
          type: string
        nameBn:
          type: string
        nameEn:
          type: string
    HierarchySchoolPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HierarchySchool'
    HierarchySection:
      type: object
      required: [id, classLevel, name, sessionYear]
      properties:
        id:
          type: string
        classLevel:
          type: string
          description: e.g. `6`..`10` — the class dropdown derives its options from these
        name:
          type: string
          description: Section name, e.g. `A`, `B` (bn/en resolved client-side)
        sessionYear:
          type: integer
    HierarchySectionPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HierarchySection'
    SchoolRequestType:
      type: string
      enum: [school, college]
    SchoolRequestStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED]
    SchoolRequestInput:
      type: object
      required: [name, type, cityId, pocName, pocPhone]
      description: Submitted from registration when the school dropdown has no match. The POC is whom the application admin connects to onboard the institution.
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 120
        type:
          $ref: '#/components/schemas/SchoolRequestType'
        cityId:
          type: string
        address:
          type: string
          maxLength: 240
        pocName:
          type: string
          minLength: 2
          maxLength: 80
        pocPhone:
          type: string
          description: BD mobile, normalized server-side to E.164
        pocEmail:
          type: string
          format: email
    SchoolRequestCreated:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, status]
          properties:
            id:
              type: string
            status:
              $ref: '#/components/schemas/SchoolRequestStatus'
    SchoolRequest:
      type: object
      required: [id, name, type, status, pocName, pocPhone, createdAt]
      properties:
        id:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/SchoolRequestType'
        cityId:
          type: string
        address:
          type: string
        status:
          $ref: '#/components/schemas/SchoolRequestStatus'
        pocName:
          type: string
        pocPhone:
          type: string
          description: masked for display, e.g. `+8801XXXXXX789`
        pocEmail:
          type: string
        decisionReason:
          type: string
        createdAt:
          type: string
          format: date-time
        decidedAt:
          type: string
          format: date-time
    SchoolRequestPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SchoolRequest'
        nextCursor:
          type: string
    SchoolRequestRejectInput:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 10
          maxLength: 500
    SchoolRequestDecision:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, status]
          properties:
            id:
              type: string
            status:
              $ref: '#/components/schemas/SchoolRequestStatus'
    SchoolUserPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SchoolUser'
        nextCursor:
          type: string
    ChatGroupKind:
      type: string
      enum: [official, custom, dm]
    ChatGroupStatus:
      type: string
      enum: [active, pending_approval, archived]
    ChatMemberRole:
      type: string
      enum: [owner, moderator, member]
    ChatPeer:
      type: object
      description: The other side of a DM room
      required: [userId, name]
      properties:
        userId:
          type: string
        name:
          type: string
    ChatGroup:
      type: object
      required: [id, kind, status, myRole, memberCount, unreadCount, createdAt]
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/ChatGroupKind'
        schoolId:
          type: string
          description: Tenant school — null only for dm
        sectionId:
          type: string
          description: Official groups bind 1:1 to a section (BR-003)
        name:
          type: string
          description: Custom group name; official groups are named from the section
        status:
          $ref: '#/components/schemas/ChatGroupStatus'
        myRole:
          $ref: '#/components/schemas/ChatMemberRole'
        memberCount:
          type: integer
          minimum: 0
        unreadCount:
          type: integer
          minimum: 0
        peer:
          $ref: '#/components/schemas/ChatPeer'
        lastMessagePreview:
          type: string
        lastMessageAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    ChatGroupPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChatGroup'
    ChatGroupCreateInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 60
    ChatGroupMember:
      type: object
      required: [userId, name, role, joinedAt]
      properties:
        userId:
          type: string
        name:
          type: string
        role:
          $ref: '#/components/schemas/ChatMemberRole'
        lastReadMessageId:
          type: string
        joinedAt:
          type: string
          format: date-time
    ChatGroupMemberInput:
      type: object
      required: [userId]
      properties:
        userId:
          type: string
        role:
          $ref: '#/components/schemas/ChatMemberRole'
    ChatGroupRoleInput:
      type: object
      required: [role]
      properties:
        role:
          $ref: '#/components/schemas/ChatMemberRole'
    ChatMemberMutationResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [groupId, userId, removed]
          properties:
            groupId:
              type: string
            userId:
              type: string
            removed:
              type: boolean
    ChatMessageKind:
      type: string
      enum: [text, image, pdf, voice, system]
    ChatMediaRef:
      type: object
      description: The referenced confirmed asset (message render data)
      required: [assetId, kind, mime, sizeBytes, status]
      properties:
        assetId:
          type: string
        kind:
          $ref: '#/components/schemas/MediaKind'
        mime:
          type: string
        sizeBytes:
          type: integer
          format: int64
        width:
          type: integer
        height:
          type: integer
        durationMs:
          type: integer
        fileName:
          type: string
          maxLength: 120
        status:
          $ref: '#/components/schemas/MediaStatus'
    ChatMessage:
      type: object
      required: [id, groupId, senderId, senderName, kind, clientMsgId, createdAt]
      properties:
        id:
          type: string
        groupId:
          type: string
        senderId:
          type: string
        senderName:
          type: string
        kind:
          $ref: '#/components/schemas/ChatMessageKind'
        body:
          type: string
          maxLength: 4000
        media:
          $ref: '#/components/schemas/ChatMediaRef'
        clientMsgId:
          type: string
          format: uuid
        replyTo:
          type: string
          description: id of the quoted same-group message
        replyPreview:
          type: string
          description: Server-rendered one-line preview of the quoted message
        deletedAt:
          type: string
          format: date-time
          description: Set ⇒ tombstone ("Message deleted")
        createdAt:
          type: string
          format: date-time
    ChatMessagePage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        nextBefore:
          type: string
          description: Opaque cursor for the next (older) page; absent when exhausted
    ChatMessageSendInput:
      type: object
      required: [groupId, kind, clientMsgId]
      properties:
        groupId:
          type: string
        kind:
          type: string
          enum: [text, image, pdf, voice]
        body:
          type: string
          minLength: 1
          maxLength: 4000
        mediaAssetId:
          type: string
          description: Required for image|pdf|voice; asset must be `confirmed` + owned
        clientMsgId:
          type: string
          format: uuid
        replyTo:
          type: string
    ChatReadInput:
      type: object
      required: [lastReadMessageId]
      properties:
        lastReadMessageId:
          type: string
    ChatReadResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [groupId, lastReadMessageId]
          properties:
            groupId:
              type: string
            lastReadMessageId:
              type: string
    ChatDeleteResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, deletedAt]
          properties:
            id:
              type: string
            deletedAt:
              type: string
              format: date-time
    MessageRequestStatus:
      type: string
      enum: [pending, accepted, declined, expired]
    MessageRequestUser:
      type: object
      required: [userId, name]
      properties:
        userId:
          type: string
        name:
          type: string
        schoolName:
          type: string
    MessageRequest:
      type: object
      required: [id, fromUser, toUser, status, createdAt]
      properties:
        id:
          type: string
        fromUser:
          $ref: '#/components/schemas/MessageRequestUser'
        toUser:
          $ref: '#/components/schemas/MessageRequestUser'
        status:
          $ref: '#/components/schemas/MessageRequestStatus'
        dmGroupId:
          type: string
          description: Set on accept — the room both sides open
        createdAt:
          type: string
          format: date-time
        decidedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    MessageRequestPage:
      type: object
      required: [received, sent]
      properties:
        received:
          type: array
          items:
            $ref: '#/components/schemas/MessageRequest'
        sent:
          type: array
          items:
            $ref: '#/components/schemas/MessageRequest'
    MessageRequestInput:
      type: object
      required: [toUserId]
      properties:
        toUserId:
          type: string
    MessageRequestDecision:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, status]
          properties:
            id:
              type: string
            status:
              $ref: '#/components/schemas/MessageRequestStatus'
            dmGroupId:
              type: string
    NoticeScope:
      type: string
      enum: [school, section]
    NoticeAuthor:
      type: object
      required: [userId, name, role]
      properties:
        userId:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [school_admin, teacher]
    MediaStatus:
      type: string
      enum: [pending, confirmed, archived]
    MediaKind:
      type: string
      enum: [image, pdf, voice]
    MediaAssetSummary:
      type: object
      description: Attachment summary embedded in notices/messages
      required: [assetId, kind, mime, sizeBytes, status]
      properties:
        assetId:
          type: string
        kind:
          $ref: '#/components/schemas/MediaKind'
        mime:
          type: string
        sizeBytes:
          type: integer
          format: int64
        fileName:
          type: string
          maxLength: 120
        status:
          $ref: '#/components/schemas/MediaStatus'
    Notice:
      type: object
      required: [id, schoolId, scope, title, body, pinned, author, publishedAt]
      properties:
        id:
          type: string
        schoolId:
          type: string
        scope:
          $ref: '#/components/schemas/NoticeScope'
        sectionId:
          type: string
        title:
          type: string
          maxLength: 120
        body:
          type: string
          maxLength: 5000
        pinned:
          type: boolean
        attachment:
          $ref: '#/components/schemas/MediaAssetSummary'
        author:
          $ref: '#/components/schemas/NoticeAuthor'
        publishedAt:
          type: string
          format: date-time
    NoticePage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notice'
    NoticeInput:
      type: object
      required: [scope, title, body]
      properties:
        scope:
          $ref: '#/components/schemas/NoticeScope'
        sectionId:
          type: string
          description: Required iff scope=section; must be in the caller's school
        title:
          type: string
          minLength: 3
          maxLength: 120
        body:
          type: string
          minLength: 1
          maxLength: 5000
        pinned:
          type: boolean
          default: false
        attachmentId:
          type: string
          description: A `confirmed` media asset
    NoticeDeleteResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, deletedAt]
          properties:
            id:
              type: string
            deletedAt:
              type: string
              format: date-time
    MediaUploadUrlInput:
      type: object
      required: [kind, sizeBytes]
      properties:
        kind:
          $ref: '#/components/schemas/MediaKind'
        sizeBytes:
          type: integer
          format: int64
          minimum: 1
        mime:
          type: string
          description: Client-declared; the sniff at confirm is authoritative
    MediaPresignResult:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [assetId, uploadUrl, expiresAt]
          properties:
            assetId:
              type: string
            uploadUrl:
              type: string
              format: uri
            expiresAt:
              type: string
              format: date-time
    MediaConfirmInput:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        durationMs:
          type: integer
          minimum: 0
          maximum: 300000
    MediaAsset:
      type: object
      required: [id, kind, mime, sizeBytes, status, createdAt]
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/MediaKind'
        mime:
          type: string
          description: Sniffed server-side — never trusted from the client
        sizeBytes:
          type: integer
          format: int64
        width:
          type: integer
        height:
          type: integer
        durationMs:
          type: integer
        status:
          $ref: '#/components/schemas/MediaStatus'
        createdAt:
          type: string
          format: date-time
        confirmedAt:
          type: string
          format: date-time
    MediaDownloadUrl:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [downloadUrl, expiresAt]
          properties:
            downloadUrl:
              type: string
              format: uri
            expiresAt:
              type: string
              format: date-time
            rehydrated:
              type: boolean
              description: True when an archived asset was restored to the hot prefix first
  securitySchemes:
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Mobile access token — 15 min, HS256, claims `sub, role, schoolId, status, locale`
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-kushol_session
      description: Web http-only session cookie (opaque 256-bit token, server-side SHA-256)
