openapi: 3.1.0
info:
  title: Kushol Connect API
  version: 0.1.0
  description: |
    Single source of truth for API types (FND-BR-001). Go server types are generated with
    oapi-codegen and the TS client with openapi-typescript (`make contracts`). Never hand-edit
    generated code.

    Errors are RFC-7807 `application/problem+json` (`Problem`). `code` is an **open set**:
    clients must fall back to generic bn/en copy for codes they do not know.
servers:
  - url: https://api.kusholconnect.com
    description: Production (mobile clients)
  - url: http://localhost:5433
    description: Local development
tags:
  - name: health
    description: Liveness and readiness (consumed by 15-deployment-operations)
  - name: auth
    description: Registration, login (OTP / password / SSO), tokens and sessions (03-identity-access)
  - name: users
    description: The authenticated user's own account (03-identity-access)
  - name: verification
    description: Join-request queue and school roster (03-identity-access; queue UI built by 07)
  - name: hierarchy
    description: Master-data reads for registration pickers (owned by 04; served by 03's fake until 04 lands)
  - name: school-requests
    description: New school/college requests from registration (03 until 04 absorbs onboarding)
  - name: chat
    description: >
      Group chat (official/custom/dm), DMs and Message Requests (05-communication-engine).
      Realtime lives on GET /api/v1/ws (gorilla upgrade); REST here is lists, fallback send and
      membership/admin actions. Auth chain + verified gate on every route.
  - name: notices
    description: >
      One-way notice boards, school and section scope (05-communication-engine). Read for all
      verified tenant members; publish per the role→scope matrix (School Admin = school,
      Teacher = own section). Immutable after publish except pin + soft delete.
  - name: console
    description: >
      Command Center web console (07-command-center-web): public lead funnel (pilot / vendor
      inquiry / download click), Super Admin leads pipeline + vendor lifecycle + platform stats +
      audit viewer, School Admin stats. Lead writes are create-only public; everything else is
      role-gated. Revenue figures are never invented (placeholder constants).
  - name: notifications
    description: >
      Push backbone (06-notifications): device tokens (native FCM), one-way topic fan-out and
      tracked directed sends, per-class mute preferences, delivery log with admin aggregates,
      pilot test pushes. Payloads carry a message KEY + ids only — never message bodies.
  - name: media
    description: >
      Cloudflare R2 media service (05-communication-engine; reused by 08/11/12): presigned PUT
      (15-min TTL), server-side magic-byte confirm, short-lived download URLs, 90-day archival.
      The api never proxies object bytes.
paths:
  /healthz:
    get:
      operationId: getHealthz
      tags: [health]
      summary: Liveness — never touches dependencies
      responses:
        '200':
          description: Process is alive
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        default:
          $ref: '#/components/responses/Problem'
  /readyz:
    get:
      operationId: getReadyz
      tags: [health]
      summary: Readiness — Postgres (Neon) ping and Redis PING, 1 s timeout each
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: All dependencies reachable
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Readiness'
        '503':
          description: One or more dependencies unreachable; `dependencies` names them
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/register:
    post:
      operationId: postAuthRegister
      tags: [auth]
      summary: Complete registration — user + identity + verification request in one transaction
      description: |
        Public, rate-limit class `auth` (10/hour/IP). Requires a previously verified OTP
        (purpose `register`). Hierarchy placement is re-validated server-side against 04 reads.
        Tokens are returned only when the phone OTP completed inside the same flow.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
      responses:
        '201':
          description: Account created `PENDING` with an open verification request
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/otp/request:
    post:
      operationId: postAuthOtpRequest
      tags: [auth]
      summary: Issue a 6-digit OTP by SMS or email (passwordless login, owner decision 2026-10-02)
      description: |
        Public; class `auth`. Answers 202 identically whether or not the phone/email is
        registered (no enumeration). Caps: 60 s resend cooldown, 5/hour per target,
        200/hour/IP (CGNAT-tolerant), enforced again on resend.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequestInput'
      responses:
        '202':
          description: OTP queued for delivery
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpSendResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/otp/resend:
    post:
      operationId: postAuthOtpResend
      tags: [auth]
      summary: Resend a fresh OTP for the same target and purpose
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequestInput'
      responses:
        '202':
          description: OTP queued (identical body to request)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpSendResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/otp/verify:
    post:
      operationId: postAuthOtpVerify
      tags: [auth]
      summary: Verify an OTP — login (tokens), or mark verified for register/link
      description: |
        Public; class `auth` (10 verifies/hour per target, 3 attempts per code). Purpose
        `login` returns tokens (an unknown target answers `{status:"unknown_phone"}` or
        `{status:"unknown_email"}` and the client continues to registration); purposes
        `register`/`link` return `{status:"verified"}` so the follow-up call can prove
        possession. Login is passwordless (owner decision 2026-10-02): both phone and email
        targets authenticate.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpVerifyInput'
      responses:
        '200':
          description: Verification outcome
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpVerifyResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/password/forgot:
    post:
      operationId: postAuthPasswordForgot
      tags: [auth]
      summary: Request a password-reset code by email
      description: Public; class `auth` (5/hour/email, 100/hour/IP). Always 202.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordInput'
      responses:
        '202':
          description: Accepted — a code is sent when the email belongs to a staff/vendor account
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/password/reset:
    post:
      operationId: postAuthPasswordReset
      tags: [auth]
      summary: Reset a staff/vendor password with the emailed code
      description: |
        Public; class `auth`. On success every session and refresh family of the user is
        revoked. Also serves as the vendor first-password set after 07 approval.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordInput'
      responses:
        '204':
          description: Password updated; all sessions revoked
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/refresh:
    post:
      operationId: postAuthRefresh
      tags: [auth]
      summary: Rotate a mobile refresh token (single-use, reuse-detecting)
      description: |
        Public (token in body); class `auth`. The presented token is revoked (`rotated`) and a
        new one is issued in the same family; claims are re-read from the database. Presenting
        a revoked token revokes the whole family and is audited (`auth.refresh_reuse`).
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshInput'
      responses:
        '200':
          description: Fresh token pair
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/logout:
    post:
      operationId: postAuthLogout
      tags: [auth]
      summary: Log out the current device (session or refresh family)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutInput'
      responses:
        '204':
          description: Current session/refresh family revoked
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/logout-all:
    post:
      operationId: postAuthLogoutAll
      tags: [auth]
      summary: Log out everywhere — every session and refresh family
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: All sessions and refresh families revoked (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/google/start:
    get:
      operationId: getAuthGoogleStart
      tags: [auth]
      summary: Begin the Google OIDC round-trip (signed state + PKCE)
      description: |
        Public; class `auth` (20/hour/IP per provider). `intent=link` requires an
        authenticated user. Redirects to Google; the callback redirects to the calling
        surface (`/auth/sso/return` on web, deep link on the app) with a one-time result code.
      parameters:
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [login, link]
      responses:
        '302':
          description: Redirect to the provider
          headers:
            Location:
              description: Provider authorization endpoint
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/google/callback:
    get:
      operationId: getAuthGoogleCallback
      tags: [auth]
      summary: Google OIDC callback — link or create, then redirect with a result code
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
        - name: error
          in: query
          required: false
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the calling surface with `sso_result` (or `sso_error`)
          headers:
            Location:
              description: Calling surface URL carrying the one-time result or error
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/github/start:
    get:
      operationId: getAuthGithubStart
      tags: [auth]
      summary: Begin the GitHub OIDC round-trip (signed state + PKCE)
      parameters:
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [login, link]
      responses:
        '302':
          description: Redirect to the provider
          headers:
            Location:
              description: Provider authorization endpoint
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/auth/github/callback:
    get:
      operationId: getAuthGithubCallback
      tags: [auth]
      summary: GitHub OIDC callback — link or create, then redirect with a result code
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
        - name: error
          in: query
          required: false
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the calling surface with `sso_result` (or `sso_error`)
          headers:
            Location:
              description: Calling surface URL carrying the one-time result or error
              schema:
                type: string
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/me:
    get:
      operationId: getMe
      tags: [users]
      summary: The authenticated user's own account
      description: Authenticate (either scheme); class `auth` relaxed (60/min/user).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Current user
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResult'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchMe
      tags: [users]
      summary: Update own display name and/or locale
      description: Role and status are immutable here (FORBIDDEN on attempt).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeUpdateInput'
      responses:
        '200':
          description: Updated user
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/verification-requests:
    get:
      operationId: listVerificationRequests
      tags: [verification]
      summary: The school's join-request queue
      description: |
        school_admin sees own school (all roles); student+`is_ambassador` sees same-school
        student/guardian requests only; super_admin sees everything. Tenant-scoped server-side.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationRequestStatus'
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Queue page
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequestPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/verification-requests/{id}/approve:
    post:
      operationId: approveVerificationRequest
      tags: [verification]
      summary: Approve a join request → user VERIFIED + provisioning enqueued
      description: |
        Guardian requests carry `{studentUserId}` — the same-school VERIFIED student the
        evidence matched; a `guardian_links` row is written in the same transaction.
        Already-decided requests answer CONFLICT. Audited `verification.approved`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveInput'
      responses:
        '200':
          description: Approved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/verification-requests/{id}/reject:
    post:
      operationId: rejectVerificationRequest
      tags: [verification]
      summary: Reject a join request with a mandatory reason
      description: school_admin/super_admin only (ambassadors are approve-only). Audited `verification.rejected`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectInput'
      responses:
        '200':
          description: Rejected (reason stored; user notified via 06)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/users:
    get:
      operationId: listSchoolUsers
      tags: [verification]
      summary: The school's user roster
      description: school_admin (own school from claim); super_admin may pass `?schoolId=`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: schoolId
          in: query
          required: false
          schema:
            type: string
          description: Super Admin only — selects the school (tenant check still applies)
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserStatus'
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 80
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Roster page (names, roles, statuses, masked phones only)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolUserPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/hierarchy/cities:
    get:
      operationId: listHierarchyCities
      tags: [hierarchy]
      summary: Launch cities for the registration picker
      description: Public; master data owned by 04 (served from 03's in-memory fake until 04 lands).
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: City list (launch cities first)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchyCityPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/hierarchy/cities/{cityId}/schools:
    get:
      operationId: listHierarchySchools
      tags: [hierarchy]
      summary: Schools/colleges in a city
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: cityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: School list
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchySchoolPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/hierarchy/schools/{schoolId}/sections:
    get:
      operationId: listHierarchySections
      tags: [hierarchy]
      summary: Sections of a school (class level is a section attribute)
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: schoolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Section list
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchySectionPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school-requests:
    post:
      operationId: createSchoolRequest
      tags: [school-requests]
      summary: Request onboarding for a school/college not yet listed
      description: |
        Public; class `auth`. Submitted from registration when the school dropdown has no
        match. Carries the institution details plus the point of contact — the application
        admin connects with the POC to onboard the institution. Audited `school.requested`.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchoolRequestInput'
      responses:
        '202':
          description: Request queued for admin review
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestCreated'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/school-requests:
    get:
      operationId: listSchoolRequests
      tags: [school-requests]
      summary: Review queue for institution requests (Super Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SchoolRequestStatus'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Request queue page
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/school-requests/{id}/approve:
    post:
      operationId: approveSchoolRequest
      tags: [school-requests]
      summary: Approve an institution request — POC is contacted for onboarding
      description: Super Admin only. Audited `school.request_approved`; the institution itself is created by 04's onboarding.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Approved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/school-requests/{id}/reject:
    post:
      operationId: rejectSchoolRequest
      tags: [school-requests]
      summary: Reject an institution request with a reason
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchoolRequestRejectInput'
      responses:
        '200':
          description: Rejected
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/ws:
    get:
      operationId: getWs
      tags: [chat]
      summary: WebSocket gateway (gorilla upgrade — documented contract, not a REST route)
      description: |
        JWT in the `Authorization` header at upgrade; unauthenticated → HTTP 401, unverified →
        close 4401 (`NOT_VERIFIED`). The server resolves the subscribable room set from
        hierarchy + memberships — client `subscribe` requests are intersected with that set and
        non-member rooms are ignored + logged. Heartbeat ping ≤ 30 s (2 missed → close);
        presence keys TTL 60 s.
        x-ws-events (client→server): subscribe {rooms[]} · unsubscribe {rooms[]} ·
        message.send {clientMsgId, groupId, kind, body?, mediaAssetId?, replyTo?} ·
        message.read {groupId, lastReadMessageId} · typing {groupId, state start|stop} · ping.
        x-ws-events (server→client): message.new (full ChatMessage) · message.ack
        {clientMsgId, id, createdAt} · message.read {groupId, userId, lastReadMessageId} ·
        message.deleted {groupId, id, deletedAt} · presence.update {groupId, userId, online} ·
        typing {groupId, userId, state} · notice.new (Notice summary) · error (RFC-7807-shaped
        {type, title, status}). Reconnect: backoff 1 s → 30 s cap with jitter → re-auth →
        re-subscribe → REST catch-up from the latest local cursor → offline queue replay
        (dedupe by clientMsgId).
      responses:
        '101':
          description: Upgrade accepted (socket handed to the gateway hub)
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups:
    get:
      operationId: listChatGroups
      tags: [chat]
      summary: My groups (official/custom/dm) with unread counts
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Groups the caller belongs to, last activity first
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroupPage'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createChatGroup
      tags: [chat]
      summary: Request a custom club group (pending School Admin approval)
      description: Verified users only; the group lands as `pending_approval` and its creator
        becomes `owner` on activation (BR-010).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupCreateInput'
      responses:
        '201':
          description: Request stored (pending_approval)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroup'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/messages:
    get:
      operationId: listChatMessages
      tags: [chat]
      summary: Group history, 50/page, cursor `before`
      description: Member guard (`FORBIDDEN` otherwise); tombstones are included and marked so
        renderers can swap them.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Opaque cursor (created_at+id of the oldest already-loaded message)
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Newest page first
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessagePage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/members:
    post:
      operationId: addChatGroupMember
      tags: [chat]
      summary: Add a member (owner/moderator/School Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupMemberInput'
      responses:
        '201':
          description: Member added
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroupMember'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/members/{userId}:
    delete:
      operationId: removeChatGroupMember
      tags: [chat]
      summary: Remove a member (moderator+)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Removed (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMemberMutationResult'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateChatGroupMemberRole
      tags: [chat]
      summary: Change a member's role (moderator+/School Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupRoleInput'
      responses:
        '200':
          description: Role changed (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroupMember'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/read:
    patch:
      operationId: markChatRead
      tags: [chat]
      summary: Set the caller's last_read_message_id (drives seen counts)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatReadInput'
      responses:
        '200':
          description: Read pointer stored; WS `message.read` fans out
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatReadResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/dm/{peerId}:
    get:
      operationId: openDm
      tags: [chat]
      summary: Open or create a DM room
      description: Same-school verified peer → instant room (`dm:{minUserId}:{maxUserId}`).
        Cross-school peer without an accepted request → 404 with the request hint.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: peerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The (idempotent) DM room
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroup'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/message-requests:
    get:
      operationId: listMessageRequests
      tags: [chat]
      summary: My Message Request inbox (received) and sent list
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Row-level authorized (from/to only)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequestPage'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: createMessageRequest
      tags: [chat]
      summary: Request an out-of-network DM (anti-spam rate limit)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequestInput'
      responses:
        '201':
          description: Request pending; no room exists yet
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequest'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/message-requests/{id}/accept:
    post:
      operationId: acceptMessageRequest
      tags: [chat]
      summary: Accept a pending request (recipient only) — creates the DM room
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Accepted; `dmGroupId` carries the room to open
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/message-requests/{id}/decline:
    post:
      operationId: declineMessageRequest
      tags: [chat]
      summary: Decline a pending request (recipient only)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Declined; the sender is politely blocked (BR-004)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRequestDecision'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/messages:
    post:
      operationId: sendChatMessage
      tags: [chat]
      summary: Send a message (REST fallback + media sync path; same service as WS message.send)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageSendInput'
      responses:
        '201':
          description: The canonical message (replay with the same clientMsgId returns the
            original row — BR-008)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/messages/{messageId}:
    delete:
      operationId: deleteChatMessage
      tags: [chat]
      summary: Tombstone a message (author ≤ 15 min; moderator/owner/School Admin anytime)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Soft-deleted; WS `message.deleted` fans out
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatDeleteResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notices:
    get:
      operationId: listNotices
      tags: [notices]
      summary: The notice board for my school (+ my sections)
      description: Pinned first, then reverse-chronological; section notices limited to the
        caller's sections. Cached 60 s under `notices:school:{id}` / `notices:section:{id}`.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NoticeScope'
      responses:
        '200':
          description: The visible board
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticePage'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: publishNotice
      tags: [notices]
      summary: Publish a one-way notice (School Admin = school scope; Teacher = own section)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoticeInput'
      responses:
        '201':
          description: Published; tags busted; `BroadcastTopic` queued for `school-{id}` /
            `section-{id}`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notice'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notices/{noticeId}:
    delete:
      operationId: deleteNotice
      tags: [notices]
      summary: Soft-delete a notice (author or School Admin)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: noticeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Removed from the board (audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeDeleteResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notices/{noticeId}/pin:
    patch:
      operationId: toggleNoticePin
      tags: [notices]
      summary: Toggle the pin (author or School Admin; the only edit path — BR-006)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: noticeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The notice with its new pin state
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notice'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/media/upload-url:
    post:
      operationId: createMediaUploadUrl
      tags: [media]
      summary: Presigned R2 PUT for one asset (TTL 15 min)
      description: Kind/size validated against the caps (image 10 MB, PDF 20 MB, voice 5 min);
        the sniff at confirm is authoritative over the declared mime.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaUploadUrlInput'
      responses:
        '201':
          description: Asset created (`pending`) with the presigned PUT
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPresignResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/media/{assetId}/confirm:
    post:
      operationId: confirmMediaUpload
      tags: [media]
      summary: Confirm an upload — magic-byte sniff decides (INV-6)
      description: Owner only; TTL ≤ 15 min; sniffed mime must match the kind allowlist
        (JPEG/PNG/HEIC → image, %PDF → pdf, AAC/m4a → voice). A mismatch is
        `VALIDATION_FAILED` and no message may reference the asset.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: assetId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaConfirmInput'
      responses:
        '200':
          description: Asset confirmed with the sniffed mime
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAsset'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/media/{assetId}/download-url:
    post:
      operationId: createMediaDownloadUrl
      tags: [media]
      summary: Short-lived R2 GET URL for an asset the caller may view
      description: Authorized by ownership or by membership of a group/notice referencing the
        asset; archived assets rehydrate first (the response flags it).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: assetId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Presigned GET (15-min TTL)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaDownloadUrl'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/chat/groups/{groupId}/approve:
    post:
      operationId: approveChatGroup
      tags: [chat]
      summary: Approve a pending club (same-school School Admin; endpoint #22)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Club activated; creator is owner; audited
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGroup'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notifications/devices:
    post:
      operationId: registerNotificationDevice
      tags: [notifications]
      summary: Register (or refresh) this device's native FCM token (idempotent upsert)
      description: Pending users may register; hierarchy topics are subscribed only once VERIFIED
        (resolved from module 04 bindings — never client-supplied). Re-registration refreshes
        `last_seen_at` without duplicating (NTF-BR-002).
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegisterInput'
      responses:
        '200':
          description: Token already existed — refreshed
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistered'
        '201':
          description: Token stored first time
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistered'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notifications/devices/{deviceId}:
    delete:
      operationId: deleteNotificationDevice
      tags: [notifications]
      summary: Prune this device's token (logout cleanup; caller-owned rows only)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token pruned (soft; never re-targeted)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDeleted'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notifications/preferences:
    get:
      operationId: getNotificationPreferences
      tags: [notifications]
      summary: My per-class mute state (always exactly the three rows, lazy-created unmuted)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: The three classes
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencePage'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: patchNotificationPreference
      tags: [notifications]
      summary: Toggle one class's mute (single-class PATCH, matches the settings screen)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferencePatch'
      responses:
        '200':
          description: The updated three rows
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencePage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notifications/deliveries:
    get:
      operationId: listNotificationDeliveries
      tags: [notifications]
      summary: My notification history (newest first; directed rows carry opened state)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: class
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NotificationClass'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DeliveryStatus'
      responses:
        '200':
          description: The caller's rows only (NTF-BR-008)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/notifications/deliveries/{deliveryId}/opened:
    post:
      operationId: markNotificationOpened
      tags: [notifications]
      summary: Report a directed push opened (write-once, idempotent on retry)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: deliveryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Flipped to opened (or already opened)
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/notifications/deliveries:
    get:
      operationId: listSchoolNotificationDeliveries
      tags: [notifications]
      summary: Delivery aggregates for my school (counts + rows, never bodies)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Tenant-forced by claim (NTF-BR-008)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAdminPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/notifications/deliveries:
    get:
      operationId: listPlatformNotificationDeliveries
      tags: [notifications]
      summary: Platform delivery aggregates (Super Admin; optional schoolId filter)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: schoolId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Platform-wide aggregates
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAdminPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/admin/notifications/test:
    post:
      operationId: sendTestNotification
      tags: [notifications]
      summary: Send a visibly-marked test push to self or one in-tenant section (pilot tooling)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestPushInput'
      responses:
        '200':
          description: Directed send queued; payload carries type=test
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestPushResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/requirements:
    post:
      operationId: createTuitionRequirement
      tags: [tuition]
      summary: Post a tuition requirement (verified Guardian/Student) and enqueue matching
      description: Creates the row `open` with `expiresAt = now + 14 days` (config) and
        enqueues the `tuition.match` job — matching itself is asynchronous and idempotent.
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TuitionRequirementInput'
      responses:
        '201':
          description: Posted; matching job queued
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionRequirementResult'
        default:
          $ref: '#/components/responses/Problem'
    get:
      operationId: listTuitionRequirements
      tags: [tuition]
      summary: My requirements (poster) — School Admin role gets the school oversight list
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Poster rows or tenant oversight rows (role-driven server-side)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionRequirementPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/requirements/{requirementId}:
    patch:
      operationId: updateTuitionRequirement
      tags: [tuition]
      summary: Edit while `open` (poster) — or close (poster; School Admin may close abusive)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: requirementId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TuitionRequirementPatch'
      responses:
        '200':
          description: Edited or closed (close notifies interested tutors; admin close audited)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionRequirementResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/requirements/{requirementId}/matches:
    get:
      operationId: listTuitionRequirementMatches
      tags: [tuition]
      summary: The poster's matches for one requirement (interested detail; contact post-accept)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: requirementId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Matches newest-first; contact fields null until this match is accepted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionPosterMatchPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/tutors:
    get:
      operationId: browseTuitionTutors
      tags: [tuition]
      summary: Browse verified tutors (public-safe; verified filter locked ON for non-admins)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: subject
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TuitionSubjectKey'
        - name: area
          in: query
          required: false
          schema:
            type: string
            maxLength: 80
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: Verified profiles only; cached 120 s under `tuition:tutors:{area}`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionTutorPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/tutors/{tutorId}:
    get:
      operationId: getTuitionTutor
      tags: [tuition]
      summary: One tutor's public profile (contact fields null unless an accepted match links us)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: tutorId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Public-safe DTO; unverified profiles are `NOT_FOUND`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionTutorDetail'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/tutor-profile:
    get:
      operationId: getMyTuitionTutorProfile
      tags: [tuition]
      summary: My tutor profile with the verification tracker state (draft-safe read)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: The caller's profile (status, pending flag, rejection note)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionTutorProfileResult'
        default:
          $ref: '#/components/responses/Problem'
    post:
      operationId: upsertTuitionTutorProfile
      tags: [tuition]
      summary: Create or update my tutor profile (draft-safe; one per user)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TuitionTutorProfileInput'
      responses:
        '200':
          description: The stored profile (own view incl. review tracker state)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionTutorProfileResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/tutor-profile/submit-for-review:
    post:
      operationId: submitTuitionTutorProfileForReview
      tags: [tuition]
      summary: Submit evidence and route to the verification queue (draft/rejected → pending)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TuitionSubmitForReviewInput'
      responses:
        '200':
          description: Profile becomes `pending_review`; SLA reminder armed; evidence complete
            required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionTutorProfileResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/matches/{matchId}/interest:
    post:
      operationId: expressTuitionInterest
      tags: [tuition]
      summary: A notified tutor expresses interest (poster notified; contact stays hidden)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: matchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Match now `interested`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionMatchAction'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/matches/{matchId}/accept:
    post:
      operationId: acceptTuitionMatch
      tags: [tuition]
      summary: Poster accepts one interested tutor — contact reveal + chat + fee DUE fact (tx)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: matchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Match `accepted`, requirement `matched`; audited (the fee event)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionAcceptResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/matches/{matchId}/decline:
    post:
      operationId: declineTuitionMatch
      tags: [tuition]
      summary: Tutor or poster declines (counterpart notified politely; no contact leaked)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: matchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Match `declined`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionMatchAction'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/tuition/matches:
    get:
      operationId: listMyTuitionMatches
      tags: [tuition]
      summary: Tutor-side matches (requirement summaries; poster contact post-accept only)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: The caller's matches as a tutor, newest first
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionTutorMatchPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/tutor-verifications:
    get:
      operationId: listTuitionVerifications
      tags: [tuition]
      summary: Verification queue — School Admin (linked school) / Super Admin (platform, NULL school)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationScope'
      responses:
        '200':
          description: Pending (+ decided history) rows routed to the caller's queue
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionVerificationPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/tutor-verifications/{verificationId}/approve:
    post:
      operationId: approveTuitionVerification
      tags: [tuition]
      summary: Approve (optional note) — profile verified, badge live, tutor notified, audited
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TuitionApproveInput'
      responses:
        '200':
          description: Decision recorded; tutor tags busted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionVerificationResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/tutor-verifications/{verificationId}/reject:
    post:
      operationId: rejectTuitionVerification
      tags: [tuition]
      summary: Reject — `decisionNote` required (5–500), readable by the tutor; audited
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TuitionRejectInput'
      responses:
        '200':
          description: Decision recorded; tutor notified with the reason
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuitionVerificationResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/storefronts:
    post:
      operationId: createVendorStorefront
      tags: [commerce]
      summary: Create a storefront (approved vendor gate — 07; schools served, pickup address)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceStorefrontInput'
      responses:
        '201':
          description: Created `active`; school tags busted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceStorefrontResult'
        default:
          $ref: '#/components/responses/Problem'
    get:
      operationId: listVendorStorefronts
      tags: [commerce]
      summary: My storefronts + orders-needing-action counts
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Own rows (INV-5)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceStorefrontList'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/storefronts/{id}:
    patch:
      operationId: updateVendorStorefront
      tags: [commerce]
      summary: Edit fields / schools list / pause-resume (orders continue while paused)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceStorefrontPatch'
      responses:
        '200':
          description: Updated; old+new school tags busted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceStorefrontResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/storefronts/{id}/products:
    post:
      operationId: createVendorProduct
      tags: [commerce]
      summary: Create product (+variants + one inventory row per sellable, images via 05)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceProductInput'
      responses:
        '201':
          description: Created `active` with inventory rows
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceProductResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/products/{id}:
    patch:
      operationId: updateVendorProduct
      tags: [commerce]
      summary: Edit product / archive (snapshots untouched — INV-4)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceProductPatch'
      responses:
        '200':
          description: Updated; product + store tags busted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceProductResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/products/{id}/inventory:
    patch:
      operationId: updateVendorInventory
      tags: [commerce]
      summary: Set stock (`qtyOnHand` ≥ reserved enforced server-side; optional variantId)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceInventoryPatch'
      responses:
        '200':
          description: Updated inventory row
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceInventoryResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/commerce/stores:
    get:
      operationId: listCommerceStores
      tags: [commerce]
      summary: Buyer — active stores serving my school (INV-1; vendor approved fail-closed INV-6)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: School-scoped list; cached `commerce:stores:school:{id}`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceStoreList'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/commerce/stores/{id}/products:
    get:
      operationId: listStoreProducts
      tags: [commerce]
      summary: Store grid with availability states (archived/out-of-stock visible-with-label)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Active products + per-item stock state
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceProductCardList'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/commerce/products/{id}:
    get:
      operationId: getCommerceProduct
      tags: [commerce]
      summary: Product detail — variant picker, stock state, trust signals (INV-1 school check)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detail payload
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceProductDetailResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/commerce/orders:
    post:
      operationId: placeCommerceOrder
      tags: [commerce]
      summary: Place order (tx — reserve stock, snapshot items, freeze commission; COD guard)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceOrderInput'
      responses:
        '201':
          description: Order `placed`; reservation held; auto-cancel timer armed
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
    get:
      operationId: listMyCommerceOrders
      tags: [commerce]
      summary: Buyer — my orders (row-level own)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Newest first
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderList'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/commerce/orders/{id}:
    get:
      operationId: getMyCommerceOrder
      tags: [commerce]
      summary: Buyer — order detail / pickup instructions / tracking
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The order with snapshot items
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/commerce/orders/{id}/cancel:
    post:
      operationId: cancelMyCommerceOrder
      tags: [commerce]
      summary: Buyer cancel (placed/confirmed/ready only; reason optional)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceBuyerCancelInput'
      responses:
        '200':
          description: Cancelled; reservation released or stock restocked per state
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders:
    get:
      operationId: listVendorOrders
      tags: [commerce]
      summary: Vendor fulfilment board — own storefronts only (INV-5)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Orders grouped client-side by status
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderList'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders/{id}:
    get:
      operationId: getVendorOrder
      tags: [commerce]
      summary: Vendor order detail (buyer, fulfilment info, commission row)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Own order or `FORBIDDEN`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders/{id}/confirm:
    post:
      operationId: confirmVendorOrder
      tags: [commerce]
      summary: placed → confirmed (one tx decrements reserved + on-hand)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status `confirmed`; buyer pushed
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders/{id}/ready:
    post:
      operationId: readyVendorOrder
      tags: [commerce]
      summary: confirmed → ready_for_pickup (pickup orders only — INV-3)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status `ready_for_pickup`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders/{id}/ship:
    post:
      operationId: shipVendorOrder
      tags: [commerce]
      summary: confirmed → shipped (courier orders only; courier + tracking required)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceShipInput'
      responses:
        '200':
          description: Status `shipped` with tracking
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders/{id}/complete:
    post:
      operationId: completeVendorOrder
      tags: [commerce]
      summary: ready/shipped → completed (terminal; COD collection audited)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status `completed`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/vendor/orders/{id}/cancel:
    post:
      operationId: cancelVendorOrder
      tags: [commerce]
      summary: Vendor cancel (placed/confirmed only; reason required ≥ 5 chars)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceVendorCancelInput'
      responses:
        '200':
          description: Cancelled with restock semantics per state
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceOrderResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/invoices:
    post:
      operationId: issueInvoice
      tags: [payments]
      summary: Issue a fee invoice to one student of the caller's school (audited)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsInvoiceInput'
      responses:
        '201':
          description: Invoice created `issued`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsInvoiceResult'
        default:
          $ref: '#/components/responses/Problem'
    get:
      operationId: listSchoolInvoices
      tags: [payments]
      summary: School ledger — invoices (tenant-scoped, filters + server totals)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PaymentsInvoiceStatus'
        - name: month
          in: query
          schema:
            type: string
            description: 'YYYY-MM'
      responses:
        '200':
          description: Tenant-scoped rows + server-computed totals (never client math)
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsInvoicePage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/invoices/bulk:
    post:
      operationId: issueInvoicesBulk
      tags: [payments]
      summary: Bulk-issue to a section (1–200 students, one tx; notify jobs after commit)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsBulkInput'
      responses:
        '201':
          description: '{created, failed[]} — never a silent partial batch'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsBulkResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/invoices/{id}/void:
    patch:
      operationId: voidInvoice
      tags: [payments]
      summary: Void an invoice before any successful payment (CONFLICT after)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsVoidInput'
      responses:
        '200':
          description: Invoice `void`
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsInvoiceResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/ledger:
    get:
      operationId: listSchoolLedger
      tags: [payments]
      summary: Append-only ledger entries (tenant-scoped; always fresh — never cached)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: month
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Entries + server totals
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsLedgerPage'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/school/ledger/summary:
    get:
      operationId: getSchoolLedgerSummary
      tags: [payments]
      summary: 'Counts + ৳ totals (issued/paid/overdue, collected, outstanding) per month'
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: month
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Summary payload
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsSummaryResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/payments/initiate:
    post:
      operationId: initiatePayment
      tags: [payments]
      summary: Start a gateway payment for an invoice or an online order (verified + entitled payer)
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsInitiateInput'
      responses:
        '201':
          description: RedirectPayload — the gateway-hosted checkout reference
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsRedirectResult'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/payments/transactions:
    get:
      operationId: listMyPayments
      tags: [payments]
      summary: Payer-scoped own transactions, newest first
      security:
        - bearerJWT: []
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
[...]
